@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500&display=swap");
@import "~antd/dist/antd.css";

:root {
  --background: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Kantumruy Pro", "Raleway", sans-serif;
  background: var(--background);
}

.footerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.authContainer {
  width: 45%;
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .authContainer {
    width:85%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
