.homeContainer {
  /* padding: 1.5rem; */
}

.secondaryContainer h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  font-size: 2.5rem;
}

.brandsContainer {
  width: 300px;
  height: 300px;
  padding: 0 10px;
  cursor: pointer;
  margin: 20px 0;
}

.brandsContainer img {
  width: 100%;
  height: 90%;
  transition: 0.5s all ease-in-out;
}

.bestSellingWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.horizontalOverflowContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
}

.horizontalOverflowContainer::-webkit-scrollbar {
  display: none;
}
